html,
body {
  height: 100%;
}

.container {
  background-color: #f4f5f6;
  border-radius: 10px;
  padding: 5PX;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 40% !important;
}

@media (min-width: 40.0rem) {
  .container {
    background-color: #f4f5f6;
    border-radius: 10px;
    padding: 50px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 150px !important;
  }
}

.info {
  width: 100%;
}

hr {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

.button {
  width: 140px;
}

#email {
  color: #606c76;
  font-size: 20px;
}
